<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">XYZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">


      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="home">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Track</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cart">Cart</a>
      </li>
      <li [hidden]="loginLink" class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <!-- <li [hidden]="!loginLink" class="nav-item">
        <a class="nav-link" href="accDetails">Account</a>
      </li> -->
      <li [hidden]="!loginLink"  class="nav-item dropdown">
        <span dropdown >
          <a href id="nav-link" class="nav-link dropdown-toggle" dropdownToggle (click)="false"
          aria-controls="nav-link-dropdown">Account</a>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="basic-link">
          <li >
            <a class="dropdown-item" href="userInfo">Info</a>
          </li>
          <li >
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
          <!-- <li >
            <a class="dropdown-item" href="#">{{choice}}</a>
          </li> -->
        </ul>
      </span>
    </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
